<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/teacher/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Envelop Details</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col"></div>
                  <div class="col">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col-4"></div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col-4"></div>
                </div>
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <div class="form-group">
                      <p>hi</p>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                  </div>
                  <div class="col">
                  </div>
                  <div class="col">
                    <button class="btn btn-primary">Next</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
